:root {
  --brand-primary: #00ADE7;
  --brand-secondary: #F4F9FD;
  --brand-success: #32A22A;
  --brand-gray: #C4C4C4;
}

html {
  font-family: 'Poppins', sans-serif;
  background: var(--brand-secondary);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.heading {
  color: var(--brand-primary);
  padding-bottom: 24px;
}

form {
  min-width: 380px;
}

.form-field {
  padding-bottom: 8px;
}

.form-field-label {
  display: block;
  padding: 0px 0px 8px 12px;

}

.form-field-input {
  padding: 16px 12px;
  border-radius: 16px;
  width: 92%;
}

.form-field-error {
  border: 1px solid red;
}

.form-field-helper-text {
  font-size: smaller;
  color: orange;
  padding: 0px 0px 2px 16px;
}

button {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  outline: none;
  background: var(--brand-primary);
  border: none;
  margin: 24px auto;
  font-size: large;
  cursor: pointer;
}

.toast-container {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--brand-success);
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
}

.model {
  display: block;
}

.model-overlay {
  background-color: var(--brand-gray);
  opacity: 80%;
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  top: 0;
  left: 0;
}

.model-body {
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.model-body p {
  background-color: white;
  font-size: large;
  padding: 48px;
  border-radius: 24px;
}

input {
  outline: none;
  border: none;
  font-size: large;
}

input:focus {
  border: 1px solid var(--brand-primary);
}

